[submodule "drivers/I2C"]
	path = drivers/I2C
	url = https://github.com/Maldus512/I2C.git
[submodule "components/gel"]
	path = components/gel
	url = https://github.com/Maldus512/generic_embedded_libs.git
